<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ssh_crack</title>
    <link rel="stylesheet" href="/static/css/ssh_crack.css" type="text/css">
</head>
<body>

            <table border="1">
                <tr>
                    <th>选择</th>
                    <th>所属id</th>
                    <th>主机地址</th>
                    <th>端口</th>
                    <th>破解字典</th>
                    <th>用户名</th>
                </tr>

                {% for host in host_obj %}
                    <tr>
                        <td class="position">
                            <input type="checkbox" />
                        </td>
                        <td class="id">{{ host.id }}</td>
                        <td class="host">{{ host.host_ip }}</td>
                        <td class="port">{{ host.port }}</td>
                        <td class="dictionary">{{ host.dictionary }}</td>
                        <td class="user">{{ host.user }}</td>
                    </tr>
                {% endfor %}
            </table>


    <div>
        <input type="button" value="全选" onclick="SelectALl();" />
        <input type="button" value="取消" onclick="ClearAll();" />
        <input type="button" value="反选" onclick="ReverseALl();" />
        <input type="button" value="破解" onclick="CrackChoose();" />
    </div>


</body>
<script src="/static/js/jquery-2.2.4.js" type="text/javascript"></script>
<script src="/static/js/tools.js" type="text/javascript"></script>
</html>