<!DOCTYPE html>
<html>
{% load staticfiles %}
    <head>
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
    </head>
    <body>

        <div class="top">
            <div class="wp">
                <!--登录后跳转-->
                {% if request.user.is_authenticated %}
                    <div class="personal">
                        <dl class="user fr">
{#                                    <img class="down fr" src="{% static "/static/images/top_down.png" %}"/>#}
{#                                    <dt><img width="20" height="20" src="{{ MEDIA_URL }}{{ request.user.image }}"/></dt>#}
                        </dl>
                        <div class="userdetail">
                            <dl>
                                <dt><img width="80" height="80" src="{{ MEDIA_URL }}{{ request.user.image }}"/></dt>
                                <dd>
                                    <p>{{ request.user.username }}</p>
                                </dd>
                            </dl>
                            <div class="btn">
{#                                        <a class="personcenter fl" href="{% url 'users:user_info' %}">进入个人中心</a>#}
                                <a class="fr" href="{% url 'user_logout' %}">退出</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <a class="fr loginbtn" href="{% url 'user_login' %}">您还没有登录,请先登录</a>
                {% endif %}
            </div>
        </div>

    </body>
</html>
