<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    </head>
    <body>

        <section>
            <div class="c-box bg-box">
                <div class="login-box clearfix">
                    <div class="hd-login clearfix">
                        <a class="index-logo" href="/"></a>
                        <h1>用户登录</h1>
                        <a class="index-font" href="{% url 'index' %}">回到首页</a>
                    </div>

                    <div class="fl form-box">
                        <h2>帐号登录</h2>
                        <form action="/user_login/" method="post" autocomplete="off">
                            <div class="form-group marb20 {% if login_form.errors.username %}errorput{% endif %}">
                                <label>用&nbsp;户&nbsp;名</label>
                                <input name="username" id="account_l" type="text" placeholder="手机号/邮箱" />
                            </div>
                            <div class="form-group marb8 {% if login_form.errors.password %}errorput{% endif %}">
                                <label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                                <input name="password" id="password_l" type="password" placeholder="请输入您的密码" />
                            </div>
                            <div class="error btns login-form-tips" id="jsLoginTips">{% for key,error in login_form.errors.items %}{{ error }}{% endfor %}{{ msg }}</div>
                             <div class="auto-box marb38">
{#                                <a class="fr" href="{% url 'forget_pwd' %}">忘记密码？</a>#}
                             </div>
                             <input class="btn btn-green" id="jsLoginBtn" type="submit" value="立即登录 > " />
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </body>
</html>
