.control_title {
    background: url("/static/images/monitor/left/module6bg.png") repeat-x scroll center top;
}

#left_img {
	background-image: url("/static/images/monitor/left/user_main_c.gif");
}

#control-plane {
	background-image: url("/static/images/monitor/left/user_main_c.gif");
}

#start {
	align: center;
	background-image: url("/static/images/monitor/left/user_main_c.gif");
}

#monitor_alert {
	background-image: url("/static/images/monitor/left/user_main_c.gif");
}

.menu {
    float: left;
    width: 60%;
    height: 500px;
    background-color: transparent;
}

.content {
    float: left;
    width: 70%;
    height: 500px;
    background-color: aqua;
}

.item {
	width: 100%;
	background-color: yellow;
}

.title {
    background-color: black;
    color: red;
    height: 30px;
    width: 100%;
    line-height: 30px;
}

.hide {
    display: none;
}

