<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cmdb</title>
</head>
	<frameset rows="60,*" cols="*" frameborder="no" border="1" framespacing="0">
  		<frame src="/monitor/page/top/" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  		<frameset rows="*" cols="150,*" framespacing="0" frameborder="yes" border="1">
    		<frame src="/monitor/page/left/" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame" />
    		<frame src="/monitor/page/main/" name="mainFrame" id="mainFrame" title="mainFrame" />
  		</frameset>
	</frameset>
<noframes>
<body>
</body>
</noframes>
</html>